html {
  box-sizing: border-box;
}
*,
::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  outline: none;
}

body {
  font-family: sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700;800&display=swap");

@font-face {
  font-family: "Troia-Light";
  src: url("../fonts/Troia-Light.woff") format("woff");
  font-weight: 300;
}

$tittle-font: "Troia-Light";

$subtittle-font: "Shippori Mincho";

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  &__logo {
    display: flex;
    justify-content: center;
    margin-top: 42px;
  }
}

.menu {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding-bottom: 10px;
  &__link {
    margin-left: 40px;
    color: #000000;
    font-size: 17px;
    font-family: $subtittle-font;
    position: relative;
    &::before {
      content: "";
      display: block;
      background-color: khaki;
      height: 0px;
      width: 2px;
      transition: width 0.3s ease-in-out;
      transition: height 0.3s ease-in-out;
    }

    &:hover::before {
      height: 4px;
      width: 100%;
    }

    &::after {
      content: "";
      display: block;
      height: 4px;
      width: 0;
      background-color: khaki;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      transition: width 0.3s ease-in-out;
    }
    &:hover::after {
      height: 4px;
      width: 100%;
    }
  }
}

.header__main {
  min-height: 940px;
  background: linear-gradient(rgba(0, 0, 0, 0.6)),
    url("../img/events/events-lossy-scaled.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-tittle {
    min-height: 78px;
    width: 490px;
    margin-top: 30%;
  }

  &-text {
    color: #fff;
    font-size: 55px;
    font-family: $tittle-font;
    text-transform: uppercase;
  }
  &-suptext {
    margin-top: 30px;
    color: #fff;
    font-family: $tittle-font;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 25px;
  }
}

.line__wrapper {
  margin: 50px 0;
  &-item {
    display: block;
    width: 1px;
    height: 100px;
    background: #dedede;
    margin: 0 auto;
  }
}

.events {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
  }
  &__info-tittle {
    font-family: $tittle-font;
    font-size: 50px;
    font-weight: 300;
    color: #000;
  }

  &__info-text {
    font-family: $subtittle-font;
    font-size: 20px;
  }
  &__photo-item {
    max-width: 569px;
  }
}

.gala {
  &__inner {
    text-align: center;
  }
  &__tittle {
    font-family: $tittle-font;
    font-weight: 300;
    font-size: 50px;
    color: #000000;
  }

  &__text {
    font-family: $subtittle-font;
    font-size: 20px;
    margin-top: 40px;
  }
  &__video {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 30px;
  }
}

.video-js .vjs-big-play-button {
  top: 50%;
  left: 40%;
}

.vjs-theme-city {
  --vjs-theme-city--primary: #d4aa00;
  --vjs-theme-city--secondary: #fff;
}

.dates {
  &__inner {
    display: flex;
    flex-direction: column;
  }
  &__tittle {
    text-align: center;
  }
  &__tittle-text {
    font-family: $tittle-font;
    font-size: 50px;
    font-weight: 300;
    color: #000;
  }

  &__item {
    display: flex;
    flex-direction: column;
    padding-bottom: 36px;
    position: relative;

    align-items: center;
    width: 530px;
    margin: 50px 20px;
    box-shadow: 4px 0px 8px 4px rgba(0, 0, 0, 0.2);

    &-text {
      font-family: $tittle-font;
      font-weight: 300;
      font-size: 35px;
      text-align: center;
      margin: 20px 0;
      padding-bottom: 36px;
    }
  }

  // &__circle {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   height: 3rem;
  //   width: 3em;
  //   background-color: yellow;
  //   border-radius: 50%;
  // }
}

.video {
  width: 450px;
  height: 250px;
}
